*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    height: 100vh;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010409;
}
.container{
    height: auto;
    width: 380px;
    background-color: #0a0c10;
    border: 0.1px solid #d6d9dd;
    border-radius: 8px;
    text-align: center;
}
.container p{
    margin-top: 20px;
    font-size: 40px;
    color: #d6d9dd;
}

#display_screen{
    height: 100px;
    width: 295px;
    border-radius: 4px;
    margin: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 40px;
    color: #d6d9dd;
    background-color: #010409;
    border: 1px solid #d6d9dd22;
    outline: none;

}
#button_screen{
    height: auto;
    width: 350px;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-color: #0a0c10;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 14px;
}
button{
    background-color: #010409;
    height: 50px;
    width: 70px;
    border: 1px solid #d6d9dd22;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}