*{
    padding: 0;
    margin: 0;
    background-color: #010409;
}
.container{
    height: 100vh;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator_container{
    height: auto;
    width: 380px;
    background-color: #0a0c10;
    border: 0.1px solid #d6d9dd;
    border-radius: 8px;
    text-align: center;
}
.calculator_container p{
    display: inline-block;
    margin-top: 20px;
}
#main_line{
    font-size: 40px;
    color: #d6d9dd;
    background-color: #0a0c10;
}
#display_screen{
    background-color: #010409;
    height: 100px;
    width: 315px;
    border-radius: 4px;
    margin-top: 30px;
    border: 1px solid #d6d9dd22;
    margin-left: 31px;
    
}
#button_screen{
    height: auto;
    width: 350px;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-color: #0a0c10;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 14px;
}
#button_screen div{
    background-color: #010409;
    height: 50px;
    width: 70px;
    border: 1px solid #d6d9dd22;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_screen div :hover{
    cursor: pointer;
}